<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>list</h1>

    <a href="https://github.com/teerawatth/dstool.git"><button>Github</button></a>
    <a href="{% url 'd' %}"><button>delete page</button></a>

    <div>
        <form action="{% url 's' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search">
            <button type="submit">ค้นหา</button>
        </form>
    </div>
    <h2>
        {% for i in c %}
        <div>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td><a href="{% url 'edit' i.id %}"><button>edit</button></a></td>
        </div>
        {% endfor %}
    </h2>
</body>

</html>